<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Square Peg is changeing the way companies hire and return great employees.">
<meta name="keywords" content="square peg, square peg jobs, hiring, HR, staffing, recruiting, jobs, referral, expert referral, professional referral">
<meta name="author" content="SPJ">
<title>UXinKC - Casey Hill</title>
<link rel="shortcut icon" href="@@webRoot/assets/img/favicon.png">
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style.css">