<div>
  <a href="mailto:uxinkc@gmail.com" class="link-inverse">uxinkc@gmail.com</a>
  <br />
  <a href="tel:(913)908-2677" class="link-inverse">(913) 908-2677</a>
  <br />
  <p class="">Copyright <span data-copyright>2022</span> <br /> UXinKC - Casey Hill <br />All rights reserved.</p>
  <nav class="nav social social-white mt-4">
    <a href="https://twitter.com/uxinkc" target="_blank"><i class="uil uil-twitter"></i></a>
    <a href="https://linkedin.com/in/bignamehere" target="_blank"><i class="uil uil-linkedin"></i></a> 
  </nav>
  <!-- /.social -->
</div>